*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    background-color: aqua;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
    padding: 20px;
}
footer{
    background-color:lightblue;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align:end;
    padding: 20px;
}

img{
    width: 500px;
    height: 500px;
}